<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./vue.min.js"></script>
    <title>todo</title>
</head>
<body>
    <div id= "app">

        <span>已做工作 {{todocount()}},总工作 {{works.length}}</span>
        <ul>
            <li v-for="item in works">
                <input type="checkbox" name="" id="" v-model="item.done">
                {{item.text}}
            </li>
        </ul>
        <input type="text"  v-model="message" placeholder="事项">
        <button v-on:click="add">添加事项</button>
    </div>
    <script>
        var app = new Vue({
            el:"#app",
            data:{
                message:'',
                works:[
                   {text:"学习vue",done:true},
                   {text:"学习javascript",done:false}
                ]
            },
            methods:{
                todocount:function(){
                    var count=0;
                    this.works.forEach(item => {
                        count+=item.done?1:0;
                    });
                    return count;
                },
                add:function(){
                    this.works.push({text:this.message,done:false});
                }
            }
        })
    </script>
</body>
</html>